PUBLIC_API_BASE_URL=http://localhost:8080
PUBLIC_SUBMISSION_BASE_URL=http://localhost:8081
PUBLIC_DIRECTORY_SIGNING_PUBLIC_KEY_ARMORED="-----BEGIN PGP PUBLIC KEY BLOCK-----

xioGaiCd3hsAAAAgICOju3D9QA3aCGqkWHRcPhhMz0UBpSlbK8xbiVOklu7ClwYf
GwgAAAA4BYJqIJ3eAgsHAhUIAhYAApsDAh4BIqEGEaIe8MFuRNKx0PZ7cgZ1m13M
iK0tBVbwc9nD4K4vj08AAAAAw5kQPRFbdYlt73HmHiRAsQqSjsEJgbBetAemX2D/
VLCZojXgJbsO8FwrTnVK22Xpk7buQUZDCwLvv6YYfcS+mTFYrST4i/8UaH4rCmuS
KDhGWQjNNFRoZWxlbWFpbCBEaXJlY3RvcnkgU2lnbmVyIDxkaXJzaWduQHRoZWxl
bWFpbC5sb2NhbD7CiwYTGwgAAAAsBYJqIJ3eAhkBIqEGEaIe8MFuRNKx0PZ7cgZ1
m13MiK0tBVbwc9nD4K4vj08AAAAAuqUQV7ceW8ZfHiFt4ciFgnTvnpB0bXn3Dxbm
MH+cVnxGOnBmqZit9foTDTFojoyGjoiat7C/w3Q/ze5lhpa7xd95HLjf61+S0L/m
FIOkJJnTawLOKgZqIJ3eGQAAACDSJ59NtRv9cOZ+7lesXomCsAsXyJ+inqWJnhaE
g7pPAMKLBhgbCAAAACwFgmognd4CmwwioQYRoh7wwW5E0rHQ9ntyBnWbXcyIrS0F
VvBz2cPgri+PTwAAAACYtBDzjS8pc2QbWNzQows3C4/AKyjarDTfyQROGKWjvCDP
1HyffRNiiq/33ojxD/mFa1RvtciQc5oGW8DW32INmJDcryMCjK57KPaZkUrUYe4T
Cw==
=Qx5s
-----END PGP PUBLIC KEY BLOCK-----"
PUBLIC_TLOG_POLICY=
PUBLIC_OFFICIAL_SENDER_POLICY=
CSP_BLOB_ORIGIN=http://127.0.0.1:9000
