:80 {
	root * /srv

	header {
		Content-Security-Policy "frame-ancestors 'none'"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Cross-Origin-Opener-Policy "same-origin"
		Cross-Origin-Resource-Policy "same-origin"
		Permissions-Policy "accelerometer=(), autoplay=(), bluetooth=(), browsing-topics=(), camera=(), clipboard-write=(self), display-capture=(), encrypted-media=(), fullscreen=(), gamepad=(), geolocation=(), gyroscope=(), hid=(), idle-detection=(), local-fonts=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-create=(self), publickey-credentials-get=(self), screen-wake-lock=(), serial=(), usb=(), xr-spatial-tracking=()"
		-Server
	}

	@immutable path /_app/immutable/*
	header @immutable Cache-Control "public, max-age=31536000, immutable"

	@mutable not path /_app/immutable/*
	header @mutable Cache-Control "no-cache"

	try_files {path} /index.html
	file_server
	encode zstd gzip
}
